.div__pasatiemposContenedorIcon {
  display: flex;
  gap: 40px;
  padding: 10px;
  background: rgba(94, 94, 94, 0.536);

  border-radius: 5px;
}

.div__pasatiemposContenedorIcon > div {
  text-align: center;
}