* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  font-style: none;
  list-style: none;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(31, 31, 31);
  color: #fff;
}
