.div__lenguajesIcons {
  background-color: #000000;
  box-shadow: 0px 0px 15px #000;

  display: flex;
  gap: 23px;
  border-radius: 5px;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .div__lenguajesIcons {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
