.sobreMi {
  display: flex;
  gap: 20px;
  justify-content: end;
  align-items: center;
}

.sobreMi > a {
  font-size: 20px;
  padding: 5px;
  transition: 500ms all ease;
  color: rgba(255, 255, 255, 0.445);
}

.sobreMi > a:hover {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 800px) {
  .sobreMi {
    display: none;
  }
}