* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  font-style: none;
  list-style: none;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(31, 31, 31);
  color: #fff;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  padding: 2px;
}
 
body::-webkit-scrollbar-thumb {
  border-radius: 100px ;
  background-color: rgb(110, 110, 110);
}
