@media screen and (max-width: 800px) {
  .sobreMi {
    display: none;
  }

  .div__contenedorCard {
    display: flex;
    margin: 5% 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div__contenedor {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 2px solid rgb(63, 63, 63);
    border-radius: 1rem;
    padding: 20px;
  }

  .div__contenedorSobreMiRes {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .div__contenedorCardSobreMiRes {
    /* display: flex; */
    /* gap: 5%; */
    width: 100%;
    /* justify-content: center; */
  }

  .div__imgSobreMi > img {
    width: 100%;
  }

  .div__lenguajesIcons {
    background: #000000;
    box-shadow: 0px 0px 15px #000;
    display: none;
    gap: 23px;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, auto);
  }
}
